:root {
    --c-brand: #008080;
    --c-brand-rgb: 0, 128, 128;
    --c-dark: #303050;
    --c-body: #636383;
    --c-light: #f6f6f6;
    --f-main: "Bai Jamjuree", sans-serif;
    --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* Reset & Helpers */
body {
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 700;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    width: 100%;
}


.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-brand {
    color: var(--c-brand);
}

.setion-title {
    max-width: 560px;
    margin: 0 auto 60px auto;
}

.setion-title .line {
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: inline-block;
}

.section-connector {
    position: relative;
}

.section-connector::after {
    content: '';
    width: 2px;
    height: 100px;
    background-color: var(--c-brand);
    position: absolute;
    top: -50px;
    left: 50%;
}

/* Resume */
.eduexp {
    position: relative;
}

.eduexp::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(var(--c-brand-rgb), 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.eduexp::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--c-brand);
    position: absolute;
    left: -7px;
    top: 0;
}

.footer {
    margin-top: 15px;
}



.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    position: relative;
    list-style: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

.button .svg2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #f4af03;
    opacity: 0;
    transition: opacity 0.3s;
}

.button:hover .svg {
    fill: #f4af03;
}

.button:hover .svg2 {
    opacity: 1;
    fill: #f4af03;
}